
.now{
    width: 1200px;
    margin: auto;
    background-image: url('../../../assets/img/downloadBGImages.png');

    &__h1{

        padding: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__p{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-top: 20px;
    }

    &__button{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        padding: 15px;
    }

    &__btn1{
        width: 142px;
        height: 64px;
        background: #FA4A0C;
        border: 1px solid #FA4A0C;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__btn2{
        width: 142px;
        height: 64px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__btn2{
        background-color: transparent !important;
        border: 1px solid white !important;
    }
}
