.intro{
    width: 1200px;
    height: 600px;
    margin: auto;
    background-image: url('../../../components/img/intrBGImage.png');

    &__box{
        display: flex;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 1000px;
        margin: auto;
        text-align: center;
        padding: 50px;
    }

    &__h2{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #F7F7F7;
    }

    &__h1{
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 80px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__p{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #F7F7F7;
    }

    &__button{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }

    &__btn1{
        background: #FA4A0C;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        border-radius: 30px;
        width: 200px;
        height: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
    }

    &__btn2{
        width: 200px;
        height: 50px;
        border-radius: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
    }

    &__btn2{
        background-color: transparent !important;
        border: 1px solid white !important;
    }
}