.you{
    width: 1200px;
    margin: auto;
    background-color: white;

    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1100px;
        margin: auto;
    }

 

    &__h3{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FA4A0C;
    }

    &__h1{
        width: 400px;
        height: 220px;
        background: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #252B42;
        margin-top: 40px;
    }

    &__p{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.2px;
        color: #737373;
    }
}